<div data-controller="hello">

    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col">
            {{ form_row(form.type) }}
        </div>
        <div class="col">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.generatorConfig.min) }}
        </div>
        <div class="col">
            {{ form_row(form.generatorConfig.max) }}
        </div>
        <div class="col">
            {{ form_row(form.generatorConfig.seed) }}
        </div>
        <div class="col">
            {{ form_row(form.generatorConfig.format) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul id="game-symbols-list"
                data-prototype="{{ include('prototype/game_symbol.html.twig', {
                    'form': form.symbols.vars.prototype,
                    'el_id' : 0
                })|e('html_attr') }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.symbols|length }}">
                {% for symbolForm in form.symbols %}
                    {{ include('prototype/game_symbol.html.twig', {
                        'form': symbolForm.vars.form,
                        'el_id' : 0
                    }) }}
                {% endfor %}
            </ul>

            <button type="button"
                    class="add-dynamic-form-widget"
                    data-list-selector="#game-symbols-list" data-action="click->hello#addNew">Add Symbol
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul id="game-combinations-list"
                data-prototype="{{ include('prototype/game_combination.html.twig', {
                    'form': form.combinations.vars.prototype,
                    'el_id' : 0
                })|e('html_attr') }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.combinations|length }}">
                {% for combinationForm in form.combinations %}
                    {{ include('prototype/game_combination.html.twig', {
                        'form': combinationForm.vars.form,
                        'el_id' : 0
                    }) }}
                {% endfor %}
            </ul>

            <button type="button"
                    class="add-dynamic-form-widget"
                    data-list-selector="#game-combinations-list">Add Combination
            </button>
        </div>
    </div>

    <input type="submit" value="Create">
    {{ form_end(form) }}

</div>