{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ 'game.title'|trans }} {{ games|length }}</h2>
    <a href="{{ path('web_game_create') }}" class="btn btn-primary">
        {{ 'game.actions.create'|trans }}
    </a>

    {% if games|length %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'game.name'|trans }}</th>
                <th>{{ 'game.type'|trans }}</th>
                <th>{{ 'game.description'|trans }}</th>
                <th>{{ 'game.actions.title'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for game in games %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game|game_type|trans }}</td>
                    <td>{{ game.description }}</td>
                    <td>
                        <a href="{{ path('web_game_edit', {game: game.id}) }}"
                           class="btn btn-warning btn-sm">
                            {{ 'game.actions.edit'|trans }}
                        </a>
                        <a href="{{ path('web_game_show', {game: game.id}) }}"
                           class="btn btn-success btn-sm">
                            {{ 'game.actions.show'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'game.no_items'|trans }}
    {% endif %}

{% endblock %}
