{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

    <h2>Games {{ games|length }}</h2>
    <a href="{{ path('web_game_create') }}" class="btn btn-primary">Create new</a>

    {% if games|length %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for game in games %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.type }}</td>
                    <td>{{ game.description }}</td>
                    <td>
                        <a href="{{ path('web_game_edit', {game: game.id}) }}"
                           class="btn btn-warning btn-sm">Edit</a>
                        <a href="{{ path('web_game_show', {game: game.id}) }}"
                           class="btn btn-success btn-sm">Show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No items
    {% endif %}


{% endblock %}
