{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h4>{{ game.name }}</h4>
    <p>{{ game.description }}</p>
    <p>{{ game|game_type }}</p>
    <p>{{ game.generatorConfig.seed }}</p>
    <p>{{ game.generatorConfig.min }}</p>
    <p>{{ game.generatorConfig.max }}</p>
    <p>
        {% for row in game.generatorConfig.format %}
            {% for field in row %}
                {{ field }}
            {% endfor %}
            <br>
        {% endfor %}
    </p>
{% endblock %}
