{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h4>{{ game.name }}</h4>
    <p>{{ game.description }}</p>
    <p>{{ game|game_type|trans }}</p>
    <p>{{ game.generatorConfig.seed }}</p>
    <p>{{ game.generatorConfig.min }}</p>
    <p>{{ game.generatorConfig.max }}</p>
    <p>
        {% for row in game.generatorConfig.format %}
            {% for field in row %}
                {{ field }}
            {% endfor %}
            <br>
        {% endfor %}
    </p>
    <p>
        {% for symbol in game.symbols %}
            {{ symbol.name }}
            {{ symbol.rate }}
            {{ symbol.image }}
        {% endfor %}
    </p>
    <p>
    {% for combination in game.combinations %}
        <h4>{{ combination.name }}</h4>
        <div class="row">

            {% for row in game.generatorConfig.format %}
                {% set rowId = loop.index0 %}

                {% for field in row %}
                    {% set columnId = loop.index0 %}

                    {% if combination.fields[columnId][0] == rowId and combination.fields[columnId][1] == columnId %}
                        X
                    {% else %}
                        1
                    {% endif %}

                {% endfor %}
                <br>
            {% endfor %}
        </div>
    {% endfor %}
    </p>
{% endblock %}
