<div class="row combination-box-{{ form.vars.id }}">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        <div style="height: 90px; width:90px; float: left">
            {% for row in game.generatorConfig.format %}
                {% set rowId = loop.index0 %}
                <div style="height: 30px; width:90px; float: left">
                    {% for field in row %}
                        <div style="width:30px;height:30px; float:left"
                             class="combination-field-trigger"
                             data-index="{{ rowId }},{{ loop.index0 }}"
                             data-target="{{ form.fields.vars.id }}"
                             data-box=".combination-box-{{ form.vars.id }}">{{ field }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {{ form_row(form.fields) }}
    </div>
</div>

<style type="text/css">
    .selected {
        color: red;
    }
</style>